<div class="banner-image">
  <h1 class="text-center">LOGIN</h1>

  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <div>
      <input type="button" class="btn btn-primary" value="Login" id="login">
    </div>
  </form>
</div>