<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a routerLink="home" class="navbar-brand">
      <span class="material-icons-outlined">
        <i style="font-size: 30px;" class="material-icons">store</i>
        <strong>Galaxy Store</strong>
      </span>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="products" class="nav-link">
                <span class="material-icons-outlined">
                    <i class="material-icons">local_mall</i>
                    Products
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="cart" class="nav-link">
                <span class="material-icons-outlined">
                    <i class="material-icons">shopping_cart</i>
                    <div style="font-size: 10px; color: black;" class="badge bg-light">5</div>
                </span>
            </a>
        </li>
        <li class="nav-item">
          <a routerLink="signup" class="nav-link">
            <span class="material-icons-outlined">
              <i class="material-icons">person</i>
              Signup
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link">
            <span class="material-icons-outlined">
              <i class="material-icons">login</i>
              Login
            </span>
          </a>
        </li>
        <li class="nav-item">
            <a routerLink="logout" class="nav-link">
              <span class="material-icons-outlined">
                <i class="material-icons">logout</i>
                Logout
            </span>
            </a>
          </li>
      </ul>
    </div>
  </nav>