<!DOCTYPE html>
<html>

<head>
    <meta charset="=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equi="X-UA-Compatible" content="ie-edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="banner-image">
        <form>
            <div class="alert alert-success" *ngIf="success">Signup Successfull. Please login.</div>
            <div class="alert alert-error"></div>
            <div class="form-group">
                <label for="name"><b>USER NAME:</b></label>
                <input type="text" name="name" [(ngModel)]="customer.name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="email"><b>EMAIL:</b></label>
                <input type="email" name="email" [(ngModel)]="customer.email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password"><b>PASSWORD:</b></label>
                <input type="password" name="password" [(ngModel)]="customer.password" id="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="address"><b>ADDRESS:</b></label>
                <input type="text" name="address" [(ngModel)]="customer.address" id="address" class="form-control">
            </div>
            <div class="form-group">
                <label for="mobile"><b>MOBILE PHONE:</b></label>
                <input type="text" name="mobile" [(ngModel)]="customer.mobileNumber" id="mobile" class="form-control">
            </div>
            <div>
                <input type="button" class="btn btn-primary" value="SignUp" (click)="signup()" id="signup">
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>