/* img{
    width: 250px;
    height: 300px;
}

.thumbnail{
    width:250px;
    padding-top: 10px;
    padding-left: 10px;
<<<<<<< HEAD
} */
=======
}
.form-control{
    border-radius: 3px;
    width: 800px;
    margin-left: 20px;
    border-color: black;
}
>>>>>>> display-product
